<div class="row">

    <form class="form-horizontal span12">


        <fieldset>

            <legend>Car Details</legend>
            <br/>

            <div class="row">
                <div class="span9">

                    <div class="control-group">
                        <label for="carname" class="control-label">Car Name:</label>

                        <div class="controls">
                            <input id="carname" name="carname" type="text" value="<%= carname === null ? '' : carname %>" class="span1"
                                   disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="carnumber" class="control-label">Car Number:</label>

                        <div class="controls">
                            <input type="text" id="carnumber" name="carnumber" value="<%= carnumber %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="cartype" class="control-label">Cartype:</label>

                        <div class="controls">
                            <input type="text" id="cartype" name="cartype" value="<%= cartype %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="carcompany" class="control-label">Car Company:</label>

                        <div class="controls">
                            <input type="text" id="carcompany" name="carcompany" value="<%= carcompany %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="carpicture" class="control-label">To:</label>

                        <div class="controls">
                            <input type="text" id="carpicture" name="carpicture" value="<%= carpicture %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>



            </div>

        </fieldset>


</div>



