
<div class="row">
        <form class="form-horizontal">

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <fieldset>
            <legend><div style="margin-left:150px">Customer Login</div></legend>
            <br/>
            
                
                    <div class="control-group">
                        <label for="clogin span4" class="control-label">Login Name:</label>

                        <div class="controls">
                            <input type="text" id="clogin" name="clogin" value="<%= clogin %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="cpassword" class="control-label">Password:</label>

                        <div class="controls">
                            <input type="password" id="cpassword" name="cpassword" value="<%= cpassword %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

           

            

        </fieldset>

        <div class="span2 form-actions" style="margin-left:55px">            <a href="#customers/login" style="margin-left:-55px" class="btn btn-primary save">Login</a>
            <a href="#customers/add" class="btn signup">Sign up</a>
            
        </div>

    </form>
</div>

<div class="status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>

</div> 

